<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
    <a href="/logout">Logout</a>
    <a href="/electric-cars">Electric cars</a>
    <a href="/conventional-cars">Conventional cars</a>
    <a href="/insurance-companies">Insurance companies</a>
    <a href="/insurance-contracts">Insurance contracts</a>
</body>
</html>